<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta
        name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Primary Meta Tags -->
        <title>BlogHub - Blog Website</title>
        <meta name="title" content="BlogHub - Blog Website"/>
        <meta
        name="description"
            content="Created blog website Using 11ty as static site generator to craft a seamless user experience that loads in a
                flash while maintaining flexibility and scalability. The power of static sites combined with the ease of dynamic content
                updates is truly the best of both worlds."/> <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://11ty-blog-website.netlify.app/"/>
        <meta property="og:title" content="BlogHub - Blog Website"/>
        <meta
            property="og:description"
            content="Created blog website Using 11ty as static site generator to craft a seamless user experience that loads in a
                flash while maintaining flexibility and scalability. The power of static sites combined with the ease of dynamic content
                updates is truly the best of both worlds."/>
        <meta
        property="og:image"
            content="https://cdn2.iconfinder.com/data/icons/blogger-glyph/64/edit_blog_website_user_interface_online_homepage-1024.png"/> <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image"/>
        <meta property="twitter:url" content="https://11ty-blog-website.netlify.app/"/>
        <meta property="twitter:title" content="BlogHub - Blog Website"/>
        <meta
            property="twitter:description"
            content="Created blog website Using 11ty as static site generator to craft a seamless user experience that loads in a
                flash while maintaining flexibility and scalability. The power of static sites combined with the ease of dynamic content
                updates is truly the best of both worlds."/>
        <meta
            property="twitter:image"
            content="https://cdn2.iconfinder.com/data/icons/blogger-glyph/64/edit_blog_website_user_interface_online_homepage-1024.png"/>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/css/main.css">
        <link
            rel="icon"
            href="https://cdn2.iconfinder.com/data/icons/blogger-glyph/64/edit_blog_website_user_interface_online_homepage-1024.png"
            type="image/x-icon">
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body class="is-preload">
        <div id="wrapper">
            {% include 'header.njk' %}
            {{ content | safe }}
            {% include 'sidebar.njk' %}
        </div>
        <!-- Scripts -->
        <script>
            if (window.netlifyIdentity) {
                window.netlifyIdentity.on("init", user => {
                    if (!user) {
                        window.netlifyIdentity.on("login", () => {
                            document.location.href = "/admin/";
                        });
                    }
                });
            }
        </script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>